/*! tailwindcss v2.2.16 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
}


      [type='text'],
      [type='email'],
      [type='url'],
      [type='password'],
      [type='number'],
      [type='date'],
      [type='datetime-local'],
      [type='month'],
      [type='search'],
      [type='tel'],
      [type='time'],
      [type='week'],
      [multiple],
      textarea,
      select
     {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	border-radius: 0px;
	padding-top: 0.5rem;
	padding-right: 0.75rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #6b7280;
	opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #6b7280;
	opacity: 1;
}

input::placeholder, textarea::placeholder {
	color: #6b7280;
	opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
	padding: 0;
}

::-webkit-date-and-time-value {
	min-height: 1.5em;
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem;
	-webkit-print-color-adjust: exact;
	        color-adjust: exact;
}

[multiple] {
	background-image: initial;
	background-position: initial;
	background-repeat: unset;
	background-size: initial;
	padding-right: 0.75rem;
	-webkit-print-color-adjust: unset;
	        color-adjust: unset;
}


      [type='checkbox'],
      [type='radio']
     {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
	        color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: #2563eb;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
}

[type='checkbox'] {
	border-radius: 0px;
}

[type='radio'] {
	border-radius: 100%;
}


      [type='checkbox']:focus,
      [type='radio']:focus
     {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 2px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}


      [type='checkbox']:checked,
      [type='radio']:checked
     {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

[type='checkbox']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}


      [type='checkbox']:checked:hover,
      [type='checkbox']:checked:focus,
      [type='radio']:checked:hover,
      [type='radio']:checked:focus
     {
	border-color: transparent;
	background-color: currentColor;
}

[type='checkbox']:indeterminate {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}


      [type='checkbox']:indeterminate:hover,
      [type='checkbox']:indeterminate:focus
     {
	border-color: transparent;
	background-color: currentColor;
}

[type='file'] {
	background: unset;
	border-color: inherit;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-size: unset;
	line-height: inherit;
}

[type='file']:focus {
	outline: 1px auto -webkit-focus-ring-color;
}
  .visible {
	visibility: visible;
}
  .fixed {
	position: fixed;
}
  .absolute {
	position: absolute;
}
  .relative {
	position: relative;
}
  .inset-0 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
  .top-0 {
	top: 0px;
}
  .right-0 {
	right: 0px;
}
  .bottom-0 {
	bottom: 0px;
}
  .top-4 {
	top: 1rem;
}
  .left-0 {
	left: 0px;
}
  .z-0 {
	z-index: 0;
}
  .z-20 {
	z-index: 20;
}
  .z-10 {
	z-index: 10;
}
  .z-50 {
	z-index: 50;
}
  .m-4 {
	margin: 1rem;
}
  .m-14 {
	margin: 3.5rem;
}
  .m-10 {
	margin: 2.5rem;
}
  .m-2 {
	margin: 0.5rem;
}
  .m-auto {
	margin: auto;
}
  .m-3 {
	margin: 0.75rem;
}
  .m-6 {
	margin: 1.5rem;
}
  .mx-4 {
	margin-left: 1rem;
	margin-right: 1rem;
}
  .my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
  .mx-auto {
	margin-left: auto;
	margin-right: auto;
}
  .mx-6 {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
  .my-8 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
  .my-6 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
  .my-5 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
  .ml-3 {
	margin-left: 0.75rem;
}
  .-ml-px {
	margin-left: -1px;
}
  .mt-8 {
	margin-top: 2rem;
}
  .ml-12 {
	margin-left: 3rem;
}
  .mt-4 {
	margin-top: 1rem;
}
  .mr-8 {
	margin-right: 2rem;
}
  .ml-4 {
	margin-left: 1rem;
}
  .ml-1 {
	margin-left: 0.25rem;
}
  .mb-4 {
	margin-bottom: 1rem;
}
  .mt-5 {
	margin-top: 1.25rem;
}
  .mr-12 {
	margin-right: 3rem;
}
  .-mr-2 {
	margin-right: -0.5rem;
}
  .mt-3 {
	margin-top: 0.75rem;
}
  .mb-10 {
	margin-bottom: 2.5rem;
}
  .mt-1 {
	margin-top: 0.25rem;
}
  .ml-5 {
	margin-left: 1.25rem;
}
  .mt-20 {
	margin-top: 5rem;
}
  .mt-10 {
	margin-top: 2.5rem;
}
  .mb-2 {
	margin-bottom: 0.5rem;
}
  .ml-8 {
	margin-left: 2rem;
}
  .mt-2 {
	margin-top: 0.5rem;
}
  .ml-10 {
	margin-left: 2.5rem;
}
  .mr-10 {
	margin-right: 2.5rem;
}
  .mt-16 {
	margin-top: 4rem;
}
  .mb-6 {
	margin-bottom: 1.5rem;
}
  .mb-8 {
	margin-bottom: 2rem;
}
  .ml-20 {
	margin-left: 5rem;
}
  .mt-40 {
	margin-top: 10rem;
}
  .mb-20 {
	margin-bottom: 5rem;
}
  .ml-80 {
	margin-left: 20rem;
}
  .ml-0 {
	margin-left: 0px;
}
  .ml-14 {
	margin-left: 3.5rem;
}
  .mr-2 {
	margin-right: 0.5rem;
}
  .ml-2 {
	margin-left: 0.5rem;
}
  .-mt-px {
	margin-top: -1px;
}
  .mb-3 {
	margin-bottom: 0.75rem;
}
  .mt-6 {
	margin-top: 1.5rem;
}
  .mr-6 {
	margin-right: 1.5rem;
}
  .ml-6 {
	margin-left: 1.5rem;
}
  .block {
	display: block;
}
  .inline-block {
	display: inline-block;
}
  .flex {
	display: flex;
}
  .inline-flex {
	display: inline-flex;
}
  .table {
	display: table;
}
  .grid {
	display: grid;
}
  .contents {
	display: contents;
}
  .hidden {
	display: none;
}
  .h-5 {
	height: 1.25rem;
}
  .h-20 {
	height: 5rem;
}
  .h-6 {
	height: 1.5rem;
}
  .h-10 {
	height: 2.5rem;
}
  .h-36 {
	height: 9rem;
}
  .h-32 {
	height: 8rem;
}
  .h-12 {
	height: 3rem;
}
  .h-8 {
	height: 2rem;
}
  .h-16 {
	height: 4rem;
}
  .max-h-60 {
	max-height: 15rem;
}
  .max-h-36 {
	max-height: 9rem;
}
  .min-h-screen {
	min-height: 100vh;
}
  .w-5 {
	width: 1.25rem;
}
  .w-screen {
	width: 100vw;
}
  .w-24 {
	width: 6rem;
}
  .w-6 {
	width: 1.5rem;
}
  .w-1\/5 {
	width: 20%;
}
  .w-36 {
	width: 9rem;
}
  .w-full {
	width: 100%;
}
  .w-10 {
	width: 2.5rem;
}
  .w-1\/2 {
	width: 50%;
}
  .w-1\/3 {
	width: 33.333333%;
}
  .w-10\/12 {
	width: 83.333333%;
}
  .w-60 {
	width: 15rem;
}
  .w-12 {
	width: 3rem;
}
  .w-8 {
	width: 2rem;
}
  .w-auto {
	width: auto;
}
  .w-64 {
	width: 16rem;
}
  .w-20 {
	width: 5rem;
}
  .min-w-full {
	min-width: 100%;
}
  .max-w-lg {
	max-width: 32rem;
}
  .max-w-xs {
	max-width: 20rem;
}
  .max-w-7xl {
	max-width: 80rem;
}
  .max-w-3xl {
	max-width: 48rem;
}
  .max-w-xl {
	max-width: 36rem;
}
  .max-w-6xl {
	max-width: 72rem;
}
  .flex-1 {
	flex: 1 1 0%;
}
  .flex-shrink-0 {
	flex-shrink: 0;
}
  .origin-top-left {
	transform-origin: top left;
}
  .origin-top {
	transform-origin: top;
}
  .origin-top-right {
	transform-origin: top right;
}
  .scale-95 {
	--tw-scale-x: .95;
	--tw-scale-y: .95;
	transform: var(--tw-transform);
}
  .scale-100 {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: var(--tw-transform);
}
  .transform {
	transform: var(--tw-transform);
}
  .cursor-default {
	cursor: default;
}
  .resize {
	resize: both;
}
  .list-none {
	list-style-type: none;
}
  .auto-cols-max {
	grid-auto-columns: -webkit-max-content;
	grid-auto-columns: max-content;
}
  .grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
  .grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
  .grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
  .grid-rows-2 {
	grid-template-rows: repeat(2, minmax(0, 1fr));
}
  .grid-rows-3 {
	grid-template-rows: repeat(3, minmax(0, 1fr));
}
  .flex-row {
	flex-direction: row;
}
  .flex-col {
	flex-direction: column;
}
  .place-items-center {
	place-items: center;
}
  .content-center {
	align-content: center;
}
  .items-end {
	align-items: flex-end;
}
  .items-center {
	align-items: center;
}
  .justify-end {
	justify-content: flex-end;
}
  .justify-center {
	justify-content: center;
}
  .justify-between {
	justify-content: space-between;
}
  .justify-around {
	justify-content: space-around;
}
  .justify-evenly {
	justify-content: space-evenly;
}
  .justify-items-stretch {
	justify-items: stretch;
}
  .gap-12 {
	gap: 3rem;
}
  .gap-8 {
	gap: 2rem;
}
  .gap-4 {
	gap: 1rem;
}
  .space-y-1 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
  .space-y-4 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
  .space-y-0\.5 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.125rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.125rem * var(--tw-space-y-reverse));
}
  .space-y-0 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0px * var(--tw-space-y-reverse));
}
  .self-center {
	align-self: center;
}
  .justify-self-center {
	justify-self: center;
}
  .overflow-hidden {
	overflow: hidden;
}
  .overflow-y-auto {
	overflow-y: auto;
}
  .break-all {
	word-break: break-all;
}
  .rounded-md {
	border-radius: 0.375rem;
}
  .rounded-full {
	border-radius: 9999px;
}
  .rounded {
	border-radius: 0.25rem;
}
  .rounded-lg {
	border-radius: 0.5rem;
}
  .rounded-l-md {
	border-top-left-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
  .rounded-r-md {
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}
  .border {
	border-width: 1px;
}
  .border-2 {
	border-width: 2px;
}
  .border-t {
	border-top-width: 1px;
}
  .border-r {
	border-right-width: 1px;
}
  .border-b-2 {
	border-bottom-width: 2px;
}
  .border-r-2 {
	border-right-width: 2px;
}
  .border-l-4 {
	border-left-width: 4px;
}
  .border-none {
	border-style: none;
}
  .border-gray-300 {
	--tw-border-opacity: 1;
	border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}
  .border-bleu {
	--tw-border-opacity: 1;
	border-color: rgba(0, 44, 70, var(--tw-border-opacity));
}
  .border-red-300 {
	--tw-border-opacity: 1;
	border-color: rgba(252, 165, 165, var(--tw-border-opacity));
}
  .border-red-500 {
	--tw-border-opacity: 1;
	border-color: rgba(239, 68, 68, var(--tw-border-opacity));
}
  .border-transparent {
	border-color: transparent;
}
  .border-gray-200 {
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
  .border-gray-400 {
	--tw-border-opacity: 1;
	border-color: rgba(156, 163, 175, var(--tw-border-opacity));
}
  .border-indigo-400 {
	--tw-border-opacity: 1;
	border-color: rgba(129, 140, 248, var(--tw-border-opacity));
}
  .border-green-300 {
	--tw-border-opacity: 1;
	border-color: rgba(110, 231, 183, var(--tw-border-opacity));
}
  .border-green-500 {
	--tw-border-opacity: 1;
	border-color: rgba(16, 185, 129, var(--tw-border-opacity));
}
  .border-rose {
	--tw-border-opacity: 1;
	border-color: rgba(247, 135, 98, var(--tw-border-opacity));
}
  .bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
  .bg-beige {
	--tw-bg-opacity: 1;
	background-color: rgba(238, 235, 227, var(--tw-bg-opacity));
}
  .bg-jaune {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 212, 112, var(--tw-bg-opacity));
}
  .bg-beige2 {
	--tw-bg-opacity: 1;
	background-color: rgba(238, 235, 211, var(--tw-bg-opacity));
}
  .bg-bleu {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 44, 70, var(--tw-bg-opacity));
}
  .bg-red-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 202, 202, var(--tw-bg-opacity));
}
  .bg-red-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
}
  .bg-gray-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}
  .bg-gray-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}
  .bg-blue-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}
  .bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
  .bg-indigo-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(238, 242, 255, var(--tw-bg-opacity));
}
  .bg-green-200 {
	--tw-bg-opacity: 1;
	background-color: rgba(167, 243, 208, var(--tw-bg-opacity));
}
  .bg-green-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}
  .bg-rose {
	--tw-bg-opacity: 1;
	background-color: rgba(247, 135, 98, var(--tw-bg-opacity));
}
  .bg-opacity-75 {
	--tw-bg-opacity: 0.75;
}
  .fill-current {
	fill: currentColor;
}
  .p-2 {
	padding: 0.5rem;
}
  .p-4 {
	padding: 1rem;
}
  .p-3 {
	padding: 0.75rem;
}
  .p-5 {
	padding: 1.25rem;
}
  .p-6 {
	padding: 1.5rem;
}
  .px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
  .py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
  .px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
  .px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
  .px-12 {
	padding-left: 3rem;
	padding-right: 3rem;
}
  .py-8 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
  .px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
  .py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
  .py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
  .py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
  .py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
  .px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
  .px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
  .pb-4 {
	padding-bottom: 1rem;
}
  .pt-2 {
	padding-top: 0.5rem;
}
  .pb-3 {
	padding-bottom: 0.75rem;
}
  .pt-4 {
	padding-top: 1rem;
}
  .pb-1 {
	padding-bottom: 0.25rem;
}
  .pr-5 {
	padding-right: 1.25rem;
}
  .pt-1 {
	padding-top: 0.25rem;
}
  .pr-8 {
	padding-right: 2rem;
}
  .pl-5 {
	padding-left: 1.25rem;
}
  .pb-2 {
	padding-bottom: 0.5rem;
}
  .pl-1 {
	padding-left: 0.25rem;
}
  .pl-8 {
	padding-left: 2rem;
}
  .pb-5 {
	padding-bottom: 1.25rem;
}
  .pl-3 {
	padding-left: 0.75rem;
}
  .pb-20 {
	padding-bottom: 5rem;
}
  .pt-5 {
	padding-top: 1.25rem;
}
  .pt-8 {
	padding-top: 2rem;
}
  .pt-6 {
	padding-top: 1.5rem;
}
  .pb-10 {
	padding-bottom: 2.5rem;
}
  .pr-4 {
	padding-right: 1rem;
}
  .pr-6 {
	padding-right: 1.5rem;
}
  .pr-7 {
	padding-right: 1.75rem;
}
  .text-left {
	text-align: left;
}
  .text-center {
	text-align: center;
}
  .align-bottom {
	vertical-align: bottom;
}
  .font-poppins {
	font-family: poppins, sans-serif;
}
  .text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
  .text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}
  .text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
  .text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
  .text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
  .text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
  .text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
  .text-5xl {
	font-size: 3rem;
	line-height: 1;
}
  .font-medium {
	font-weight: 500;
}
  .font-extralight {
	font-weight: 200;
}
  .font-light {
	font-weight: 300;
}
  .font-semibold {
	font-weight: 600;
}
  .font-bold {
	font-weight: 700;
}
  .uppercase {
	text-transform: uppercase;
}
  .capitalize {
	text-transform: capitalize;
}
  .leading-5 {
	line-height: 1.25rem;
}
  .leading-6 {
	line-height: 1.5rem;
}
  .leading-7 {
	line-height: 1.75rem;
}
  .leading-tight {
	line-height: 1.25;
}
  .leading-8 {
	line-height: 2rem;
}
  .tracking-widest {
	letter-spacing: 0.1em;
}
  .tracking-wider {
	letter-spacing: 0.05em;
}
  .text-gray-500 {
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}
  .text-gray-700 {
	--tw-text-opacity: 1;
	color: rgba(55, 65, 81, var(--tw-text-opacity));
}
  .text-bleu {
	--tw-text-opacity: 1;
	color: rgba(0, 44, 70, var(--tw-text-opacity));
}
  .text-rose {
	--tw-text-opacity: 1;
	color: rgba(247, 135, 98, var(--tw-text-opacity));
}
  .text-green-600 {
	--tw-text-opacity: 1;
	color: rgba(5, 150, 105, var(--tw-text-opacity));
}
  .text-red-600 {
	--tw-text-opacity: 1;
	color: rgba(220, 38, 38, var(--tw-text-opacity));
}
  .text-blanc {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
  .text-gray-400 {
	--tw-text-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-text-opacity));
}
  .text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
  .text-red-500 {
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}
  .text-red-800 {
	--tw-text-opacity: 1;
	color: rgba(153, 27, 27, var(--tw-text-opacity));
}
  .text-gray-900 {
	--tw-text-opacity: 1;
	color: rgba(17, 24, 39, var(--tw-text-opacity));
}
  .text-gray-200 {
	--tw-text-opacity: 1;
	color: rgba(229, 231, 235, var(--tw-text-opacity));
}
  .text-gray-300 {
	--tw-text-opacity: 1;
	color: rgba(209, 213, 219, var(--tw-text-opacity));
}
  .text-gray-600 {
	--tw-text-opacity: 1;
	color: rgba(75, 85, 99, var(--tw-text-opacity));
}
  .text-indigo-700 {
	--tw-text-opacity: 1;
	color: rgba(67, 56, 202, var(--tw-text-opacity));
}
  .text-green-500 {
	--tw-text-opacity: 1;
	color: rgba(16, 185, 129, var(--tw-text-opacity));
}
  .text-green-800 {
	--tw-text-opacity: 1;
	color: rgba(6, 95, 70, var(--tw-text-opacity));
}
  .text-gray-800 {
	--tw-text-opacity: 1;
	color: rgba(31, 41, 55, var(--tw-text-opacity));
}
  .text-opacity-60 {
	--tw-text-opacity: 0.6;
}
  .underline {
	text-decoration: underline;
}
  .antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  .opacity-0 {
	opacity: 0;
}
  .opacity-100 {
	opacity: 1;
}
  .shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
  .shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
  .shadow-xl {
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
  .shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
  .outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
  .ring-1 {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
  .ring-gray-300 {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(209, 213, 219, var(--tw-ring-opacity));
}
  .ring-black {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity));
}
  .ring-opacity-5 {
	--tw-ring-opacity: 0.05;
}
  .transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
  .transition-opacity {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
  .transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
  .transition-colors {
	transition-property: background-color, border-color, color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
  .duration-150 {
	transition-duration: 150ms;
}
  .duration-200 {
	transition-duration: 200ms;
}
  .duration-75 {
	transition-duration: 75ms;
}
  .ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  .ease-out {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
  .ease-in {
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
  input {
      margin: .4rem;
  }
  button::-moz-focus-inner {
      border: 0;
  }
  button:focus {
      outline: none;
  }
  #dropdown_svg:hover {
      fill: #F78762;
  }
  .fa-user-alt:hover {
      color: #F78762;
  }
  #la_ligne {
      margin-top: 1rem;
      margin-left: 3rem;
      width: 95%;
      background-color: #002C46;
      padding: 1px;
  }
  #form_action_show {
      transition: all 1s ease-in;
  }
  #form_action_jquery_show {
      background-image: url(/images/rencontre_ico.svg?c83f90a1566ad164cd27e9703e8adc5e);
      background-repeat: no-repeat;
      background-position: right;
  }
  #borderArea:focus {
      box-shadow: 0 0 0 rgb(255, 255, 255);
  }
  .fade-in {
      animation: fadeIn ease 10s;
      -webkit-animation: fadeIn ease 10s;
      -moz-animation: fadeIn ease 10s;
      -o-animation: fadeIn ease 10s;
      -ms-animation: fadeIn ease 10s;
  }
  @-webkit-keyframes fadeIn {
      0% {
          opacity: 0;
          transform: translateX(500px);
      }
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
  @keyframes fadeIn {
      0% {
          opacity: 0;
          transform: translateX(500px);
      }
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }
  .loader {
      display: block;
      width: 80px;
      height: 80px;
      visibility: hidden;
  }
  .loader:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #002C46;
      border-color: #002C46 transparent #002C46 transparent;
      -webkit-animation: loader 1.2s linear infinite;
              animation: loader 1.2s linear infinite;
  }
  @-webkit-keyframes loader {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  @keyframes loader {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  textarea:focus {
      outline: none!important;
  }
  .fade-out {
      opacity: 0;
      transition: opacity 0.4s ease-out;
  }
  #background {
      background: radial-gradient(65.94% 3977.75% at 25.75% 65.53%, rgba(247, 135, 98, 0.6) 0%, rgba(247, 135, 98, 0.16) 41%, rgba(247, 135, 98, 0.384) 82.85%);
  }
  .hover\:border-rose:hover {
	--tw-border-opacity: 1;
	border-color: rgba(247, 135, 98, var(--tw-border-opacity));
}
  .hover\:border-gray-300:hover {
	--tw-border-opacity: 1;
	border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}
  .hover\:border-bleu:hover {
	--tw-border-opacity: 1;
	border-color: rgba(0, 44, 70, var(--tw-border-opacity));
}
  .hover\:bg-fonce:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 195, 70, var(--tw-bg-opacity));
}
  .hover\:bg-rose:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(247, 135, 98, var(--tw-bg-opacity));
}
  .hover\:bg-blue-700:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(29, 78, 216, var(--tw-bg-opacity));
}
  .hover\:bg-gray-50:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}
  .hover\:font-semibold:hover {
	font-weight: 600;
}
  .hover\:text-gray-500:hover {
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}
  .hover\:text-gray-400:hover {
	--tw-text-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-text-opacity));
}
  .hover\:text-bleu:hover {
	--tw-text-opacity: 1;
	color: rgba(0, 44, 70, var(--tw-text-opacity));
}
  .hover\:text-rosefonce:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 79, 21, var(--tw-text-opacity));
}
  .hover\:text-blanc:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
  .hover\:text-gray-800:hover {
	--tw-text-opacity: 1;
	color: rgba(31, 41, 55, var(--tw-text-opacity));
}
  .hover\:text-rose:hover {
	--tw-text-opacity: 1;
	color: rgba(247, 135, 98, var(--tw-text-opacity));
}
  .hover\:text-gray-900:hover {
	--tw-text-opacity: 1;
	color: rgba(17, 24, 39, var(--tw-text-opacity));
}
  .hover\:no-underline:hover {
	text-decoration: none;
}
  .focus\:z-10:focus {
	z-index: 10;
}
  .focus\:border-blue-300:focus {
	--tw-border-opacity: 1;
	border-color: rgba(147, 197, 253, var(--tw-border-opacity));
}
  .focus\:border-indigo-700:focus {
	--tw-border-opacity: 1;
	border-color: rgba(67, 56, 202, var(--tw-border-opacity));
}
  .focus\:border-gray-300:focus {
	--tw-border-opacity: 1;
	border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}
  .focus\:border-indigo-500:focus {
	--tw-border-opacity: 1;
	border-color: rgba(99, 102, 241, var(--tw-border-opacity));
}
  .focus\:bg-indigo-100:focus {
	--tw-bg-opacity: 1;
	background-color: rgba(224, 231, 255, var(--tw-bg-opacity));
}
  .focus\:bg-gray-50:focus {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}
  .focus\:text-indigo-800:focus {
	--tw-text-opacity: 1;
	color: rgba(55, 48, 163, var(--tw-text-opacity));
}
  .focus\:text-gray-800:focus {
	--tw-text-opacity: 1;
	color: rgba(31, 41, 55, var(--tw-text-opacity));
}
  .focus\:text-gray-700:focus {
	--tw-text-opacity: 1;
	color: rgba(55, 65, 81, var(--tw-text-opacity));
}
  .focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
  .focus\:ring:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
  .focus\:ring-2:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
  .focus\:ring-red-500:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(239, 68, 68, var(--tw-ring-opacity));
}
  .focus\:ring-indigo-500:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
  .focus\:ring-indigo-200:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(199, 210, 254, var(--tw-ring-opacity));
}
  .focus\:ring-offset-2:focus {
	--tw-ring-offset-width: 2px;
}
  .active\:bg-gray-100:active {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
  .active\:text-gray-700:active {
	--tw-text-opacity: 1;
	color: rgba(55, 65, 81, var(--tw-text-opacity));
}
  .active\:text-gray-500:active {
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}
  .active\:opacity-0:active {
	opacity: 0;
}
  @media (min-width: 640px) {

	.sm\:my-8 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.sm\:mx-0 {
		margin-left: 0px;
		margin-right: 0px;
	}

	.sm\:mt-0 {
		margin-top: 0px;
	}

	.sm\:ml-4 {
		margin-left: 1rem;
	}

	.sm\:ml-3 {
		margin-left: 0.75rem;
	}

	.sm\:block {
		display: block;
	}

	.sm\:inline-block {
		display: inline-block;
	}

	.sm\:flex {
		display: flex;
	}

	.sm\:hidden {
		display: none;
	}

	.sm\:h-screen {
		height: 100vh;
	}

	.sm\:h-10 {
		height: 2.5rem;
	}

	.sm\:w-full {
		width: 100%;
	}

	.sm\:w-10 {
		width: 2.5rem;
	}

	.sm\:w-auto {
		width: auto;
	}

	.sm\:w-screen {
		width: 100vw;
	}

	.sm\:max-w-lg {
		max-width: 32rem;
	}

	.sm\:flex-1 {
		flex: 1 1 0%;
	}

	.sm\:flex-row-reverse {
		flex-direction: row-reverse;
	}

	.sm\:items-start {
		align-items: flex-start;
	}

	.sm\:items-center {
		align-items: center;
	}

	.sm\:justify-start {
		justify-content: flex-start;
	}

	.sm\:justify-between {
		justify-content: space-between;
	}

	.sm\:p-0 {
		padding: 0px;
	}

	.sm\:p-6 {
		padding: 1.5rem;
	}

	.sm\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.sm\:pb-4 {
		padding-bottom: 1rem;
	}

	.sm\:pt-0 {
		padding-top: 0px;
	}

	.sm\:text-left {
		text-align: left;
	}

	.sm\:align-middle {
		vertical-align: middle;
	}

	.sm\:text-sm {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}
  @media (min-width: 1024px) {

	.lg\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

