  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  input {
      margin: .4rem;
  }

  button::-moz-focus-inner {
      border: 0;
  }

  button:focus {
      outline: none;
  }

  #dropdown_svg:hover {
      fill: #F78762;
  }

  .fa-user-alt:hover {
      color: #F78762;
  }

  #la_ligne {
      margin-top: 1rem;
      margin-left: 3rem;
      width: 95%;
      background-color: #002C46;
      padding: 1px;
  }

  #form_action_show {
      transition: all 1s ease-in;
  }

  #form_action_jquery_show {
      background-image: url("../../public/images/rencontre_ico.svg");
      background-repeat: no-repeat;
      background-position: right;
  }

  #borderArea:focus {
      box-shadow: 0 0 0 rgb(255, 255, 255);
  }

  .fade-in {
      animation: fadeIn ease 10s;
      -webkit-animation: fadeIn ease 10s;
      -moz-animation: fadeIn ease 10s;
      -o-animation: fadeIn ease 10s;
      -ms-animation: fadeIn ease 10s;
  }

  @keyframes fadeIn {
      0% {
          opacity: 0;
          transform: translateX(500px);
      }
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }

  .loader {
      display: block;
      width: 80px;
      height: 80px;
      visibility: hidden;
  }

  .loader:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #002C46;
      border-color: #002C46 transparent #002C46 transparent;
      animation: loader 1.2s linear infinite;
  }

  @keyframes loader {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

  textarea:focus {
      outline: none!important;
  }

  .fade-out {
      opacity: 0;
      transition: opacity 0.4s ease-out;
  }

  #background {
      background: radial-gradient(65.94% 3977.75% at 25.75% 65.53%, rgba(247, 135, 98, 0.6) 0%, rgba(247, 135, 98, 0.16) 41%, rgba(247, 135, 98, 0.384) 82.85%);
  }
